/* Imaport Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
/* Web Page General Setting */

*,
*::before,
*::after {
  font-family: "Roboto Mono", monospace;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --clr-text: #0088a9;
  --clr-bg: #24252a;
  --fs: 30px;
  --clr-h1: #32a852;
  --t-clr: #edf0f1;
  --fm: "Montez", cursive;
  --bar-width: 40px;
  --bar-height: 5px;
  --hamburger-gap: 5px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

body {
  background-color: var(--clr-bg);
  height: 100vh;
}

.icons {
  color: #0088a9;
  font-size: 40px;
  display: none;
}

/* Nav Bar Section */

li,
a,
button {
  font-weight: 400px;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
  color: var(--clr-text);
}

.logo span {
  font-size: 1.7rem;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.midkent_btn {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-size: 16px;
}

.midkent_btn:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-size: 16px;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.nav__links {
  list-style-type: none;
  display: flex;
}
.nav__links li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 20px 20px;
  font-weight: 700;
  transition: 0.4s all;
}

/* DROPDOWN MENU */

.dropdown_menu {
  display: none;
  list-style: none;
  position: absolute;
  z-index: 999;
  right: 1rem;
  top: 6rem;
  width: 300px;
  height: 0;
  background: #333;
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 300px;
}

.dropdown_menu li {
  padding: 0.7rem 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown_menu .midkent_btn {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  border: none;
  background: #0088a9;
  border-radius: 50px;
  padding: 5px;
}

.drop_menu {
  border: 2px solid #0088a9;
  position: relative;
  border-radius: 10px;
  height: 300px;
}

.dropdown_menu .midkent_btn:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.dropdown_menu li.navbar-dropdown:hover .dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.dropdown_menu li.navbar-dropdown .dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: 5px 5px;
  top: 100%;
  transform: translateY(50px);
  left: 10px;
  width: 200px;
  background-color: #333;
  box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
  z-index: 111;
  transition: 0.4s all;
  border-radius: 6px;
  border: 2px solid #0088a9;
}
.dropdown_menu li.navbar-dropdown .dropdown a {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
  text-align: center;
  display: block;
}

.dropdown_menu li a:hover {
  color: var(--clr-text);
}

/* NAVBAR DROPDROW */

li.navbar-dropdown {
  position: relative;
}

.nav__links li.navbar-dropdown:hover .dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.nav__links li.navbar-dropdown .dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: 10px 10px;
  top: 100%;
  transform: translateY(50px);
  left: 0;
  width: auto;
  background-color: #333;
  box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 111;
  transition: 0.4s all;
  border-radius: 6px;
}
.nav__links li.navbar-dropdown .dropdown a {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
}
.navbar-dropdown .dropdown a:hover {
  padding-left: 30px;
}
.nav__links li a:hover {
  color: var(--clr-text);
}

/* All Pages Title Srtting */

.all-title_container {
  position: absolute;
  display: flex;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
}

.all-pages_title {
  position: relative;
  text-align: center;
  font-size: var(--fs);
  color: var(--clr-text);
  text-transform: uppercase;
}

/* Home Page Content Section */

.home_page-container {
  position: absolute;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.text_container {
  font-size: 1rem;
  padding: 1.5em 0.5em;
  color: #fff;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  letter-spacing: 2px;
  border-radius: 10px;
  background: #333;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

p strong {
  color: #0088a9;
}

#page__imgs {
  display: flex;
  position: relative;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  justify-content: center;
  align-items: center;
}

#page__imgs #img1,
#img2,
#img3 {
  padding: 1.5em 0.5em;
  width: 350px;
  height: 600px;
  position: relative;
}

/* About Page Content Section */

.about-me_container {
  position: relative;
  width: 900px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#about-text {
  background: #333;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 10px;
  font-size: 1rem;
  padding: 10px 15px;
  color: #edf0f1;
  text-align: start;
  line-height: 40px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 2px;
  width: 800px;
}

#about-skills {
  background: #333;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 10px;
  font-size: 1rem;
  padding: 10px 15px;
  color: #edf0f1;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
}

#about-skills {
  height: 60px;
}

h2 {
  color: #fff;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#abot-me_content {
  position: relative;
}

#about-me__imgs {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

img#code_image1,
img#midkent__img2 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 10px;
  width: 380px;
  height: 336px;
  position: relative;
  margin: 10px;
}

.skills_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills {
  margin: 5px;
  padding: 5px;
  border-radius: 6px;
  background: #777;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.skills:hover {
  background: #444;
  transition: 0.7s;
}

/* Contact Page Content Section */

.contact_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  width: 580px;
}

.detail_container {
  height: auto;
  width: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  margin: 10px;
}

#contact__detail {
  background: #333;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  line-height: 30px;
  letter-spacing: 2px;
}

#contact__detail h3 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

#contact__detail p {
  color: #fff;
}

#contact__detail p a {
  color: inherit;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1)
    ),
    linear-gradient(
      to right,
      rgba(0, 100, 170, 1),
      rgba(0, 100, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 500ms;
}

#contact__detail p a:hover {
  background-size: 0 3px, 100% 3px;
}

/* Form */

.form_container {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin: 10px;
}

.form__box {
  background: #333;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  color: #fff;
  width: 450px;
}

form div.form__info {
  margin-top: 10px;
}

form div input,
form div textarea {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  background: none;
  outline: none;
  overflow: hidden;
  color: #fff;
  padding: 10px;
}

form div textarea {
  resize: none;
  height: 150px;
}

.btn__submit {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

/* all projects section */

.all-projects_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: auto;
}

div.projects__text {
  color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 20px;
  border-radius: 10px;
  background: #333;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.units {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.unit__box1,
div.unit__box2 {
  margin-top: 20px;
  margin-left: 15px;
  width: 400px;
  height: 300px;
  padding: 20px;
}

.text__all-unit {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  background: #333;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* Images section */

.images_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  width: auto;
  height: auto;
}

.project1__title {
  color: #0088a9;
  position: relative;
  font-size: 1rem;
  border-radius: 10px;
  background: #333;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 8px;
}
.project2__title {
  color: #0088a9;
  position: relative;
  font-size: 1rem;
  border-radius: 10px;
  background: #333;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 8px;
}
.project3__title {
  color: #0088a9;
  position: relative;
  font-size: 1rem;
  border-radius: 10px;
  background: #333;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 8px;
}

div.project1__img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project1__img img {
  margin: 10px;
  height: 330px;
  width: 380px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.project2__title {
  top: 63%;
}

div.project2__img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project2__img img {
  margin: 10px;
  height: 330px;
  width: 380px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

div.project3__img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project3__img img {
  margin: 10px;
  height: 330px;
  width: 380px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* Table Style Start */

.grade_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 880px;
  height: 500px;
}

table,
tr,
th,
td {
  border: 2px solid #0088a9;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  border-spacing: 10px;
  font-size: 26px;
}

.table__item {
  position: relative;
  border-radius: 10px;
  background: #333;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.stackoverflow {
  text-decoration: underline;
}

.stackoverflow:hover {
  color: #f00;
}

/*==========================================================================
                            Media Queries
==========================================================================*/

/*
==========================================================================
            up to 960 to 1200
========================================================================== 
*/

@media only screen and (max-width: 1200px) {
  .icons {
    display: block;
  }

  .midkent_btn {
    display: none;
  }

  .dropdown_menu {
    display: block;
  }

  .nav__links {
    display: none;
  }
}

/*
==========================================================================
            Tablet Portrait size to standard 960
==========================================================================
*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .nav__links {
    display: none;
  }

  .icons {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }

  #page__imgs #img1,
  #img2,
  #img3 {
    width: 250px;
    height: 400px;
  }

  .project1__img img,
  .project2__img img,
  .project3__img img {
    width: 360px;
    margin: 5px;
  }

  .grade_container {
    width: 730px;
    border-spacing: 5px;
  }

  .home_page-container {
    width: 730px;
  }

  #page__imgs #img1,
  #img2,
  #img3 {
    width: 250px;
  }
}

/*
==========================================================================
            All less than 959
========================================================================== 
*/
@media only screen and (max-width: 959px) {
  .nav__links {
    display: none;
  }

  .icons {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }

  #page__imgs #img1,
  #img2,
  #img3 {
    width: 260px;
    height: 400px;
  }

  #abot-me_content,
  #about-me__imgs {
    top: 30px;
  }
}

/*
==========================================================================
            Mobile / Tablet less than 767
========================================================================== 
*/
@media only screen and (max-width: 767px) {
  .nav__links {
    display: none;
  }

  .icons {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }

  #page__imgs #img1,
  #img2,
  #img3 {
    width: 230px;
    height: 400px;
  }

  #about-text,
  #about-skills {
    width: 730px;
  }

  #abot-me_content {
    top: 70px;
  }

  #about-me__imgs {
    top: 65px;
  }
  img#code_image1,
  img#midkent__img2 {
    margin: 5px;
    width: 350px;
  }
  .project1__img img,
  .project2__img img,
  .project3__img img {
    margin: 5px;
    width: 370px;
  }
  .grade_container {
    width: 730px;
  }

  table,
  tr,
  th,
  td {
    border-spacing: 5px;
  }

  .all-projects_container {
    width: 730px;
  }
}

/*
==========================================================================
            Mobile / Tablet less than 480
========================================================================== 
*/
@media only screen and (max-width: 480px) {
  .nav__links {
    display: none;
  }

  .midkent_btn {
    display: none;
  }

  .icons {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }

  #page__imgs #img1,
  #img2,
  #img3 {
    width: 400px;
    height: 500px;
    padding: 0;
    margin: 5px;
  }

  #page__imgs {
    display: unset;
    position: absolute;
    top: -230px;
    left: 50%;
    transform: translate(-50%);
    padding: 0;
    margin: 0;
  }

  .all-title_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
  }

  #text {
    position: relative;
    top: 5%;
    width: 380px;
    height: 180px;
  }

  .text_container {
    position: absolute;
    top: 1325px;
  }

  .about-me_container {
    width: 480px;
  }

  #about-text {
    width: 380px;
    line-height: 20px;
    position: relative;
    top: 295px;
  }

  #about-skills {
    height: auto;
    width: 380px;
    position: relative;
    top: 295px;
  }

  .skills_container {
    position: relative;
    display: inline-block;
    width: auto;
    left: 50%;
    transform: translate(-50%);
  }

  #about-me__imgs {
    display: flex;
    flex-direction: column;
    margin: 5px;
    position: relative;
    top: 300px;
  }

  .skills {
    width: 350px;
  }

  h2 {
    position: relative;
    top: 290px;
  }

  .contact_container {
    top: 55%;
  }

  .form__box {
    width: 380px;
  }

  .contact_container {
    width: 380px;
  }

  #contact__detail {
    width: 380px;
  }

  .all-projects_container {
    width: 380px;
    position: relative;
    top: 305px;
  }

  .units {
    flex-direction: column;
  }
  div.projects__text {
    width: auto;
    height: auto;
    font-size: 0.75rem;
  }

  div.unit__box1,
  div.unit__box2 {
    height: auto;
    width: auto;
  }

  .images_container {
    top: 90%;
  }

  div.project1__img,
  div.project2__img,
  div.project3__img {
    flex-direction: column;
  }

  .grade_container {
    width: 450px;
  }

  table,
  tr,
  th,
  td {
    font-size: 16px;
  }
}

/*
==========================================================================
            Mobile / Tablet less than 350
========================================================================== 
*/
@media only screen and (max-width: 350px) {
  .icons {
    display: block;
  }

  .midkent_btn {
    display: none;
  }

  .dropdown_menu {
    display: block;
  }

  #page__imgs #img1,
  #img2,
  #img3 {
    width: 300px;
  }

  #text {
    width: 280px;
    height: auto;
  }

  button {
    padding: 0;
  }

  #about-text {
    width: 330px;
  }

  #about-skills {
    width: 330px;
  }

  .skills {
    width: 300px;
  }

  img#code_image1,
  img#midkent__img2 {
    width: 330px;
  }

  .btn__submit {
    padding: 9px 15px;
  }

  #contact__detail {
    letter-spacing: 1px;
  }

  #contact__detail {
    width: 330px;
    position: relative;
  }

  .form__box {
    width: 330px;
    position: relative;
  }

  .detail_container {
    width: auto;
    margin: 5px 0;
  }

  .form_container {
    width: 330px;
    margin: 5px 0;
  }

  .project1__title,
  .project2__title,
  .project3__title {
    width: auto;
  }

  .project1__img img,
  .project2__img img,
  .project3__img img {
    width: 330px;
  }

  .grade_container {
    width: 330px;
  }

  .all-projects_container {
    width: 330px;
  }

  .project2_contianer {
    top: 325px;
    position: relative;
  }

  .project3_contianer {
    position: relative;
    top: 30px;
  }
}
